body {
    font-family: 'Inter', sans-serif;
    background-color: hsl(36, 100%, 99%);
    margin: 2em;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

p {
    font-size: 15px;
    line-height: 1.6em;
    margin: 0;
}

a {
    text-decoration: none;
    color: hsl(36, 100%, 99%);
}
a:hover {
    color: hsl(35, 77%, 62%);
}

.display-none {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 3em;
    width: 80%;
}

nav {
    position: unset;
    top: 0;
    right: 0;
    width: auto;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
    
}

nav ul a {
    color: hsl(251, 6%, 38%);
    display: block;
    padding: 0 1em;
    font-size: 14px;
}

nav ul a:hover {
    color: hsl(35, 77%, 62%);
}

/* hero */

.hero {
    margin: 1.6em auto;
    width: 80%;
    
    padding: 1em;

    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1em;
    
}

.image-desktop {
    width: 100%;
    grid-column: 1 / 3;
}

.image-mobile{
    display: none;
}

.c2 {
    grid-column: 1 / 2;
    font-weight: bold;
    font-size: 2em;
    margin: 0;
}

.c3 {
    margin: 0;
    padding: 0 2em;
}

.c3 p {
    font-size: 0.9em;
}

.c3 button {
    margin-top: 3em;
    padding: 1em 1.5em;
    color: white;
    background-color: hsl(5, 85%, 63%);
    border: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
}

.c3 button:hover {
    background-color: black;
}

.c4 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    background-color: hsl(240, 100%, 5%);
    padding: 1.5em;
    color: hsl(36, 100%, 99%);
}
.c4 div {
    padding-top: 1.5em;
}
.c4 h2 {
    color: hsl(35, 77%, 62%);
    margin-top: 0.2em;
}
.c4 div h4 {
    font-size: 16px;
}
.c4 div h4 a:hover {
    color: hsl(35, 77%, 62%);
}
.c4 p {
    font-size: 12px;
    color: hsl(233, 8%, 79%);
    margin-top: 0.8em;
}
hr {
    color: hsl(233, 8%, 79%);
    margin-top: 2em;
    
}

.more-info {
    margin: 2em auto;
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto;
}

.item {
    display: grid;
    grid-template-columns: auto auto auto;
}

.item img {
    width: 100%;
    height: auto;
    
}

.item-info {
    padding: 0 1em;
}
.item-info h3{
    color: hsl(233, 8%, 79%);
}
.item-info p {
    font-size: 12px;
}

.item-info h5 {
    padding: 0.5em 0;
    font-size: 14px;
}
.item-info h5 a {
    color: black;
}
.item-info h5 a:hover{
    color: hsl(35, 77%, 62%);
}

@media only screen and (max-width: 375px){

    nav {
    position: fixed;
    right: 0;
    top: 0;
    background: white;
    height: 100vh;
    width: 50%;
    z-index: 999;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
    }

    .hero {
        display: block;
    }


}